obj
objd
logs
csx
ecf
rcf
*.user

node_modules
dist
.idea
.vs
.tscache
.ntvs_analysis.dat
*.js.map
*.js

*.cspkg

!*.min.js
!gruntfile.js
!server.js
!webpack.config.js

!/WebRole1/public/javascripts/page/*.js