<div class="container">
    <h3 style="color: #A6ACA8">Welcome to Satori</h3>
    <br />
    <br />
    <br />
    <div style="text-align: center">
        <a href="javascript:void(0)" border="0">
            <img src="/images/s0l.gif" border="0" />
            <img src="/images/a1.gif" border="0" />
            <img src="/images/t2.gif" border="0" />
            <img src="/images/o3.gif" border="0" />
            <img src="/images/r0.gif" border="0" />
            <img src="/images/i1.gif" border="0" />
        </a>
    </div>
</div>