<div class="container">
    <h3 style="color: #A6ACA8">Welcome to Satori Portal</h3>
    <h1 style="margin-top: -5px; color: #A6ACA8;">What would you like to do?</h1>

    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div class="navigation-container contribute">
                <div class="satori-navigation navigation-text header">Bring Your Own Entity Data</div>
                <a class="contribute-data-navigation navigation-image" title="Bring Your Own Entity Data" href="/SatoriPortal/Satori/Contribute"></a>
                <div class="contribute-data-navigation navigation-text link">
                    <a href="/SatoriPortal/Satori/Contribute/Onboard">+ Add New Data</a><hr>
                </div>
                <div class="contribute-data-navigation navigation-text link">
                    <a href="/SatoriPortal/Satori/Contribute/Dashboard">Dashboard</a><hr>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="navigation-container consume">
                <div class="satori-navigation navigation-text header">Consume Satori data</div>
                <a class="consume-data-navigation navigation-image" title="Consume satori data" href="/SatoriPortal/Satori/OpenAnswer/Overview"></a>
                <div class="consume-data-navigation navigation-text link">
                    <a href="/SatoriPortal/Satori/OpenAnswer/Create">+ Add New Answer</a><hr>
                </div>
                <div class="consume-data-navigation navigation-text link">
                    <a href="/SatoriPortal/Satori/OpenAnswer/Overview">Dashboard</a><hr>
                </div>
                <div class="consume-data-navigation navigation-text link">
                    <a href="/SatoriPortal/Satori/OpenAnswer/Drafts">Drafts</a>
                </div>
            </div>
        </div>
    </div>
</div>